$font: 'Lato';
$title: 'Raleway';
$color_a: #f8f7f1;
$color_b: #613b1d;
$accent_a: #79c6ff;
$accent_b: #ff8a58;
$accent: #f99;
$correct: #51d669;
$wrong: #f86c5d;
$phone: 'max-width: 767px';

%huge-btn {
  border-size: 2px;
  padding: 0 15px 0 20px;
  font-size: 2.33em;
  letter-spacing: .33em;
  font-weight: 300;
}