/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

button,
input,
select,
textarea {
  background: none;
  padding: none;
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  border: none;
  border-spacing: 0;
  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner,
    input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "bourbon/bourbon";

$font: 'Lato';
$accent: #f99;

body {
  font-family: $font;
  font-weight: 300;
}

li {
  list-style: none;
}

h3 span {
  color: #f99;
}
.option {
  p {
    display: inline-block;
  }
}

input, textarea {
  margin-top: .5em;
  font-size: 1.2em;
  padding: 3px 5px;
  line-height: 1.2em;
  border: 2px solid #999;
  width: 90%;
  @include placeholder{
    font-family: $font;
    font-weight: 300;
    line-height: normal;
  }
}

input {
  display: inline-block;
}
input[type="checkbox"]{
  width: auto;
  display: inline-block;
}

form.ng-valid {
  textarea, input {
    border-color: #33FF99;
  }
}

button {
  border: none;
  &:hover {
    cursor: pointer;
  }
  text-transform: uppercase;
  font-weight: 700;
  &::before {
    content: '+'
  }
}

button.submit, button.choose {
  border: 3px dotted #000;
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75em;
  margin: 1em auto .5em auto;
  &:hover {
    border-color: #F99;
  }
  &::before {
    content: none;
  }
}

button.submit {
  margin-top: 2em;
}

button.choose {
  font-size: 1em;
  border-size: 2px;
  margin: 0 10px 0 0;
}

div.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & > div {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    & > div {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    & div.a, div.c {
      padding: 10px;
      font-size: .75em;
      width: 15%;
    }
    & div.b {
      flex-grow: 3;
      & > div {
        width: 75%;
      }
    }
  }
  & div.three {
    flex-direction: column;
  }
}

div.parent, div.previous, div.next, div.dependencies {
  li {
    &:hover {
      cursor: pointer;
    }
  }
}

div.parent, div.dependencies {
  li {
    text-align: center;
    margin: auto auto;
    font-size: .75em;
    width: 60%;
  }
}

p.question {
  margin-bottom: 3em;
}
ul.choices {
  margin-top: 5em;
  text-align: left;
  padding-left: 25%;
  width: 50%;
  margin: auto auto;
  li {
    margin: 1em auto;
  }
}

button.next{
  font-size: 1.33em;
}
div.question {
  width: 60%;
  margin: auto auto;
}

form[name="newQuestion"]{
  width: 100%;
}
div.student {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  vertical-align: center;
  div.question {
    width: 100%;
  }
}

div.fresh {
  button {
    margin-top: 1em;
    display: block;
  }
}

div.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  flex-direction: column;
  form {
    width: 50%;
    input {
      width: 100%;
    }
    button {
      display: inline-block;
    } 
  }
  li {
    cursor: pointer;
  }
}