<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700|Raleway:500,300|Raleway+Dots' rel='stylesheet' type='text/css'>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dependencyQuizApp" ng-controller="MainCtrl as main">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="profile" ng-if="auth && auth.user" ng-style="main.profileStyle()">
        <img src="{{auth.user.thirdPartyUserData.picture}}" ng-class="main.profileClass" ng-click="main.profileClick()" alt="">
        <button ng-if="expanded" ng-click="auth.$logout()">logout</a>
    </div>
    <div ui-view></div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/async/lib/async.js"></script>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/newtest.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <script src="scripts/controllers/student.js"></script>
        <script src="scripts/services/db.js"></script>
        <script src="scripts/directives/linksnav.js"></script>
        <script src="scripts/directives/dqnewquestion.js"></script>
        <script src="scripts/directives/studentquestion.js"></script>
        <script src="scripts/services/studenthelpers.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/welcome.js"></script>
        <script src="scripts/services/fb.js"></script>
        <script src="scripts/controllers/results.js"></script>
        <script src="scripts/directives/individualresults.js"></script>
        <script src="scripts/directives/accordion.js"></script>
        <script src="scripts/services/formatdate.js"></script>
        <script src="scripts/services/helpers.js"></script>
        <script src="scripts/services/leave.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/filters/orderobjectby.js"></script>
        <script src="scripts/services/gradient.js"></script>
        <!-- endbuild -->
</body>
</html>
