
  <!-- <div class="testsTaken">
  <h2>Tests I've Taken</h2>
    <ul class="testsTaken">
      <li ng-repeat="result in myResults"><span class="date">({{ home.formatDate(result.start) }})</span><span>{{ result.test }}</span><span>view results</span> <span>retake!</span></li>
    </ul>
  </div> -->
<div id="homepage">
  <div class="newTest">
    <button class="newTest" ng-click="home.newTest()">new test</button>
  </div>
  <div class="testsCreated">
    <!-- <h2 class="testsCreated">Tests I've Created</h2> -->
    <ul class="testsCreated">
      <li ng-repeat="test in tests">
        <span class="title">{{ test.name }}</span>
        <span class="edit" ng-click="home.editTest(test)">edit</span>
        <span class="results" ng-click="home.viewResults(test)">results</span>
        <span class="link" ui-sref="tests({test: test.name })">link</span>
      </li>
    </ul>
  </div>
</div>