<h2>{{ username }} ({{ test.name }})</h2>
<button class="close" ng-click="click()">close</button>
<div class="tree">
  <div class="answer" ng-class="answer.correct ? 'correct' : 'wrong'" ng-repeat="answer in result.results | orderObjectBy: 'submitTime'">
      <div class="line" ng-style="individual.lineStyle(answer)"></div>
      <div class="question">
        <h3>{{ questions[answer.Q].question }}</h3>
        <p ng-if="!answer.correct" class="wrongAnswer">blah<p>
        <p ng-if="!answer.correct" class="correctAnswer">blah<p>
      </div>
  </div>
</div>
