  <div class="previous" ng-if="previousQuestions.length > 0">
    <p class="previous" ng-repeat="previous in previousQuestions" ng-click="show(previous)">{{ previous.Q.question }}</p>
  </div>
  <div class="parent" ng-if="parentQuestions.length > 0">
    <p ng-repeat="parent in parentQuestions" class="parent" ng-click="show(parent)">{{ parent.Q.question }}</p>
  </div>

  <div class="fresh" ng-if="!currentTestQ || !currentTestQ.Q">
    <button class="new" ng-click="newQuestionBtn()">New Question</button>
    <button class="existing" ng-click="oldQuestionBtn()">Existing Question</button>
  </div>

  <div class="question" ng-if="currentTestQ && currentTestQ.Q">
    <form onsubmit="return false" role="form">
      <div class="questionText">
      <p>Question:</p>
      <input ng-model="currentTestQ.Q.question" type="text" class="form-control" placeholder="Enter a question">
      </div>
      <div id="choices">
        <p>Answer choices:</p>
        <div class="choice" ng-repeat="choice in currentTestQ.Q.choices">
          <input ng-model="choice.value" type="text">
          <input ng-model="choice.correct" type="checkbox">
        </div>
        <button ng-click="addChoice()">add another choice</button>
      </div>
      <div class="dependencies">
        <ul>
          <li class="dependency" ng-click="show(dependency)" ng-repeat="dependency in currentTestQ.dependencies">{{dependency.Q.question}}</li>
        </ul>
        <button ng-click="newDependency()" class="newDependency">Add <span ng-if="currentTestQ.dependencies.length > 0"> another </span>dependency</button>
      </div>
      <div class="next">
        <button class="next" ng-click="next()">next <span ng-if="currentTestQ.next"> ({{ currentTestQ.next.Q.question }}) </span> <span ng-if="!currentTestQ.next"> (new) </span></button>
      </div>
      <button type="button" ng-click="submit()">Submit</button>
    </form>
  </div>